// custom styles

// header
.header {
	// font-family: "Lora", sans-serif;

	background: #151515 url(../images/intro-bg.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.header::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
}

.header-container {
	z-index: 100;
}

.header p {
	font-family: "lora-regular", serif;
}

// portfolio
.portfolio .project:hover {
	transform: scale(1.05);
	transition: all 0.5s ease-in-out;
}

// service
.service {
	background: url(../images/bg.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.service::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.service .container {
	z-index: 10;
}

@media (max-width: 760px) {
	.header p {
		font-size: 18px !important;
	}

	.about-content {
		flex-direction: column;
	}

	.stats {
		border-right: 0 !important;
		margin-bottom: 40px;
		border-bottom: var(--bs-dark) solid 1px;
		padding-bottom: 20px;
	}
}
